<!-- Page Content -->
<div class="container" style="padding-top: 60px">
    <div class="row">
        <section class="main col-md-12">
            <article class="text-center">
                <img src="/images/page-not-found.jpg" alt="" width="45%" />
                <h3 style="color: #0078ff">Page Not Found</h3>
                <a href="/" class="btn btn-primary">Back to home &rarr;</a>
            </article>
        </section>
    </div>
</div>

<style>
    img {
        border-radius: 4px;
    }
</style>