<div class="container" style="padding-top: 60px">
    <div class="row">
        <section class="main col-md-12">
            <h2>Log In</h2>

            {{#if errorMessage}}
                <div class="alert alert-danger">
                    <strong>Error:&nbsp;</strong>{{errorMessage}}
                </div>
            {{/if}}

            {{#if successMsg}}
                <div class="alert alert-success alert-dismissible  show" role="alert">
                    <strong>{{successMsg}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/if}}

            <hr>
            <form method="post" action="/login">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{#if errorMessage}}
                                <input id="userName" name="userName" type="text" class="form-control"
                                       placeholder="User Name" value="{{userName}}" required>
                            {{else }}
                                <input id="userName" name="userName" type="text" class="form-control"
                                       placeholder="User Name" value="" required>
                            {{/if}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input id="password" name="password" type="password" class="form-control"
                                   placeholder="Password" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success pull-right" value="Login">
                        </div>
                    </div>
                </div>

            </form>
        </section>
    </div>
</div>