<div class="container" style="padding-top: 60px">
    <h2>Array</h2>

   <ul>
       {{#each numbers}}
           <li>{{this}}</li>
       {{/each}}
   </ul>

    <hr>

    <h2>Object</h2>
    <p>Name: {{student.name}}</p>
    <p>Age: {{student.age}}</p>
    <p>Gender: {{student.gender}}</p>

</div>